{
    "env": {
        "browser": true,
        "es2021": true
    },
    "plugins": [
        "react",
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "overrides": [],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "getter-return": "error",
        "no-duplicate-imports": "warn",
        "no-dupe-class-members": "warn",
        "no-dupe-else-if": "error",
        "no-setter-return": "error",
        "no-unused-vars": "warn",
        "no-this-before-super": "warn",
        "react/react-in-jsx-scope": "off"
    }
}