.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #C9A0DC;
    padding: 40px;

    .contact {
        cursor: pointer;
        font-size: 20px;

        &:hover {
            font-weight: bold;
        }
    }
}