.container {
    margin: 50px;
    
    .last-release {
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    .carousel {
        margin: 97px;
    }

    .popular {
        margin-bottom: 30px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }
}